<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Sign project</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/label.css" type="text/css" />
    <link rel="stylesheet" href="css/listgroup.css" type="text/css" />
    <link rel="stylesheet" href="css/pagination.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <link rel="icon" type="image/x-icon" href="" />
</head>

<body>
    
    
    <div id="panel-users" class="panel">
        <div id="result-message"></div>
        <form id="notification" onSubmit="return sendNotification()">
            <textarea name="message" id="message" class="form-control" placeholder="message..."></textarea>
            <button class="form-control list-group-item list-group-action">
                <span class="label label-primary inset">
                    <i class="glyphicon glyphicon-send"></i>
                </span> envoyer
            </button>
        </form>
        <div class="panel-header">
           <span class="label label-default">Sélection</span>
        </div>
        <div class="panel-body">
            <div id="user_list" class="list">
            </div>
        </div>
    </div>
    
    <div id="global-container" class="container-fluid">
        
        <h4>Sign Project</h4>
        
        
        <div class="panel">
            <div class="panel-header">
               <span class="label label-default">Recherche</span>
            </div>
            <div class="panel-body">
                <form id="search" onSubmit="return searchByMail()">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-user" name="search-user" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" onclick="add_to_list_input('users','user_list')"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
          </div>
        </div>      
        
        <div id="users" class="list-group">
            <a class="list-group-item list-group-action" onclick="$('#panel-users').toggleClass('visible'); return false;">
                <span class="label label-primary inset">
                    <i class="glyphicon glyphicon-plus"></i>
                </span> envoyer une notification
            </a>
            <div class="list-group-item list-group-title" >
                <div class="row">
                    <div class="col-sm-4">
                        pseudo
                    </div>
                    <div class="col-sm-4">
                        mail
                    </div>
                    <div class="col-sm-4">
                        registrationID
                    </div>
                </div>
            </div>
            <span class="select-list">
            {% for u in users %}
            
            <a class="label label-default label-circle inset label-hover list-group-option remove" onclick="deleteUser('{{u.email}}');">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
         
            <a class="list-group-item selectable" mail="{{u.email}}" regID="{{u.gcm_regid}}">
                <div class="row">
                    
                    <div class="col-sm-4 col-lg-4">
                        <span class="label label-default inset">
                            <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-ok invisible"></i>
                        </span> {{u.pseudo}}
                    </div>
                    <div class="col-sm-4">
                        {{u.email}}
                    </div>
                    <div class="col-sm-4">
                        {{u.gcm_regid}}
                    </div>
                </div>
            </a>
            {% endfor %}
            </span>
        </div>
    </div>
    
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script src="js/list.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>